.fill-in-the-blanks-input {
	/* Styles for Input Boxes */
	font-family: 'Nexa Bold';
	font-size: 28px;
}

/* Styles for the Author's text */
.fill-in-the-blanks-text {
	background-color: yellow;
}

.fill-in-the-blanks-textarea {
	background-color: orange;
}
